backup
backup/*
.ccls-cache
home/config/cmus/command-history
home/config/cmus/search-history
home/config/cmus/cache
home/config/cmus/autosave
home/config/ranger/__pycache__/
home/config/ranger/colorschemes/__pycache__/
home/config/ranger/history
*.orig
home/config/antigen/antigenrc.zsh.zwc
